{% extends 'contacts/base.html' %}
{% load staticfiles %}

{% block main %}

<style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}
.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.form-main {
  margin-top: 15px;
}

.form-input-fields {
 margin-bottom: 0; 
}

.section-main {
  margin-top:40px;
  background-color: lightgrey;
  padding: 20px 0;
}
.group-icon {
  background-color:#fff;
  border:0; 
}
.input-search {
  border:1px solid #fff;
  box-shadow:none;  
}
@media (max-width: 992px) {
    .pull-left-sm {
        float: left !important;
    }
  
}
@media (max-width: 767px) {
    .nofloat-xs {
        float: none !important;
    }
  .btn-submit {
    margin-top:10px;
  }
}
</style>

{{ block.super }}

<div class="container bg-3 text-center">

	{% if user.is_superuser %}
    <p class="h4">
      <a href="{{new_contact.href}}" class="btn btn-default btn-lg"><i class="fa fa-user-plus fa-lg"></i> Contacts</a>
    </p> 
    {% endif %}
    
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
      </div>
      <div class="col-xs-12 col-md-6">
        <form action="{% url 'search_url' %}" method="POST" class="form-main  form-inline nofloat-xs pull-right pull-left-sm">
		  {% csrf_token %}
          <div class="form-group form-input-fields form-group-lg has-feedback">

            <label class="sr-only" for="search">Search</label>
            <div class="input-group">
              <input type="text" class="form-control input-search" name="search_value" id="search_value" placeholder="Search">
              <span class="input-group-addon group-icon"> <span class="glyphicon glyphicon-user"></span>
              </span>
            </div>

            <button type="submit" class="btn btn-lg btn-success btn-submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search 
            </button>


          </div>


        </form>
      </div>
    </div>
    
    <div class="panel-group">
    
	     <div class="panel panel-info">
	      <div class="panel-heading">
	      	</div>
			
	      </div>
	      <div class="panel-body">
	      	<table class="table table-striped">
			    <thead>
			      <tr>
			      	<th>Edit</th>
			        <th>Firstname</th>
			        <th>Lastname</th>
			        <th>Position</th>
			        <th>Department</th>
			        <th>Cell</th>
			        <th>Call Alt</th>
			        <th>Phone</th>
			        <th>phone_extension</th>
			        <th>Phone Alt</th>
			        <th>Email</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for contact in contacts %}
			     <tr>
			     	<td>
			     		{% if user.is_superuser %}
			     			<a href={{contact.href}}> edit</a>
			     		{% else %}
			     			No allowed to edit
			     		{% endif %}
			     	</td>
	    			<td>{{contact.first_name}}</td>
	    			<td>{{contact.last_name}}</td>
	    			<td>{{contact.position}}</td>
	    			<td>{{contact.department}}</td>
	    			<td>{{contact.cell}}</td>
	    			<td>{{contact.cell_alt}}</td>
	    			<td>{{contact.phone}}</td>
	    			<td>{{contact.phone_extension}}</td>
	    			<td>{{contact.phone_alt}}</td>
	    			<td>{{contact.email}}</td>
		    		</tr>
		    	{% endfor %}
			    </tbody>
			  </table>
	      </div>
	    </div>
    </div>
 
</div>

{% endblock main %}
